/**
** Section Acara
**/

section#acara {

  .card {

    &__title {
      font-size: $h3;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding:2rem;

      
      
    }
    &__item {
      border-radius: 16px;
      width:100%;
      max-width:350px;
      margin-bottom: .5rem;
      margin-top: .5rem;

      .heading {
        font-size: $h3;
        color: $primary;
        font-weight: $bold;
        font-family: $secondaryFont;
      }
      .subheading {
        font-size: $p4;
        color: rgba($grey, .8);
      }
      .sparator{
         color: rgba($grey, .8);
      }
      
      .title {
        font-size: $h4;
        font-family: $secondaryFont;
        color: $primary;
      }
      .tanggal {
        font-weight: $bold;
      }
      .jam {
        font-weight: $semibold;
        font-size: $p3;
      }
      .tempat {
        font-size: $p2;
        padding: $p2;
      }
    }

  }
}
