#credit {
  background-color: darken($backgroundColor, 5);
  .footer {
    padding:1.6rem;
    &__title {
      font-size: 2.7rem;
      font-family: $secondaryFont;
      color: $primary;
    }
    &__content {
      font-size: $p4;
      padding: 1rem;
      color: $baseColor;
      .heading {
        font-size: $p;

        a {
          color: $primary;
          &:hover {
            color:lighten($primary, 10)
          }
        }
      }
      .subheading {
        font-size: $p2;
      }

      a {
        color: darken($baseColor, 5);
        &:hover {
          color:darken($baseColor, 10)
        }
      }
    }

  }
}