section#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  .card {

    &__content {
      text-align: center;
      
    }
    &__item {
      font-size: $p2;
      line-height: 1.6;
      padding:1rem;
    }
  }

}