section#maps {
  .card {
    &__item {
      padding:1.5rem 0;
      .maps {
        border:8px solid white;
        background-color: $light;
        iframe {
          height: 290px;
          width: 100%;
        }
      }

    }
    &__actions {
      margin-top: 1rem;
      
        a {
        padding:8px 26px;
        background-color: $info;
        color: white;
        font-size: $p3;
        margin-top:.7rem;
        text-decoration: none;
        border-radius: 5px;

        &:focus,
        &:active,
        &:hover {
          background-color: darken($info, 5);
          color: darken(white, 10);;
        }
      }
    }
   
  }
}