#mempelai {
  .card {
    
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top:2rem;
      margin-bottom: 2rem;

      .image {
        width:200px;
        height:200px;
        overflow:hidden;
        border-radius: 50%;
        border:5px solid #fff;
        box-shadow:-4px 3px 19px -10px #333;
    
        img {
          width: 100%;
          height:auto;
        }

      }

      .heading {
        font-size: $h5;
        margin-top: 1rem;
        color: $primary;
        font-weight: $bold;
      }
      .subheading {
        font-size: $p2;
        font-weight: $semibold;
      }
      
      .text {
        font-size: $p3;
        padding: .5rem;
      }

    }
  }
}
