section#quote{
  .card {
    padding: 0 2rem;
    &__content {
      background-color: white;
      border-radius: 6px;
      padding:1rem;
      blockquote {
        font-size: $p2;
        .quote {
          font-size: $h3;
        }
        line-height: 1.6;

        &::before{
          content: open-quote;
        }
        &::after{
          content: close-quote;
        }
      }
      footer {
        margin-top:1rem;
        display:block;
        font-weight: $bold;
        font-size: $p;
      }
    }
  }
}