section#rsvp {

  display: flex;
  flex-direction: column;
  align-items: center;

  .card {
    display: block;
    &__title {
      font-size: $h2;
    }
    &__subtitle {
      font-size: $p3;
      text-align: center;
      padding: 5px 12px;
    }
    &__content {
      max-width:600px;
      width: 100%;
      margin:auto
    }
    &__form {
      display: flex;
      flex-direction: column;
      text-align: left;
      padding:2rem;
      background-color: darken($backgroundColor, 5);
      border-radius: 8px;
      font-size: $p3;

      label {
        display:block;
        margin-bottom: 1rem;;
        span {
          display: block;
          margin-bottom:.3rem;
          font-size: $p3;
        }
      }

      .input {
        width: 100%;
        padding: 8px;
        outline: none;
        border: 1px solid darken($backgroundColor, 10);
        border-radius: 6px;
        background-color: #fffbfb;
        color: #3b3522;

        &.error {
          border: 1px solid red;
        }
      }
      button {
        align-self: flex-end;
        padding: 8px 16px;
        background-color: darken($backgroundColor, 30);
        border-radius: 5px;
        font-size: $p2;
        color: white;
        &:hover,
        &:focus {
            background-color: darken($backgroundColor, 35);
            color: darken(white, 5);
        }
      }
    }
  }
  .rsvp__comment {
    margin-top: 2rem;
    text-align: left;
    padding:1rem;
    width:100%;
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 1rem;
      .title {
        color: lighten($baseColor, 20);
      }
      .paginate{
        display: flex;
        align-items: center;
        
        &__counter {
          margin-right: 10px;
        }
        &__link {
          background-color: darken($backgroundColor, 50);
          color: white;
          margin:3px;
          text-align: center;
          text-decoration: none;
          width:24px;
          height: 23px;
          cursor:pointer;
        }
      }
    }
    &__content {
      background-color: rgba(255, 255, 255, 0.432);
      border-radius: 8px;
      padding:1rem;
      width:100%;

    }
    &__item{
      background-color: $backgroundColor;
      border-radius: 10px;
      margin-bottom: 1rem;
      margin-top: 1rem;
      p {
        margin: 0;
      }
      .header {
        padding: .7rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: darken($backgroundColor, 10);
      }
      .nama {
        font-size: $p1;
      }
      .kehadiran {
        font-size: $p3;
        padding: 2px 8px;
        border-radius: 20px;
        background-color:darken($backgroundColor, 40);

        &.success {
          background-color:$success;
          color: white;
        }
        &.info {
          background-color:$info;
          color: white;
        }
        &.disabled {
          background-color:$disabled;
          color: white;
        }
      }
      .ucapan {
        padding:1rem;
        font-size: $p3;
      }
    }
  }

}