div#tab__menu {
  display: flex;
  justify-content: space-around;
  padding: .8rem;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  background-color: rgb(255, 255, 255);
  z-index:300;
  box-shadow: 0px -1px 12px -8px #7b7b7b;
  font-size: 10px;
  height: 59px;
  opacity: 1;
  transition: transform .4s ease-in-out;
  transform: translateY(0);
  
  .tab {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:$secondary;
    text-decoration: none;
    &__icon {
      width:20px;
      height:20px;
    }
    &:hover,
    &:focus,
    &:active {
      color: darken($secondary, 10)
    }
  }
}

@media only screen and (min-width: 992px){
  div#tab__menu {
    display: none;
  }
  
}
.is__modal {
  div#tab__menu {
    transform: translateY(100%);
    opacity:0;
  }
}