.is {
  &__dev {
    &.no-scroll {
      overflow-y: auto!important;
    }
    #welcome {
      position: relative;
      height:auto;
      z-index:1;

      &::before {
        display: none;
      }
    }
    section#prokes {
      position: relative;
      opacity: 1;
      &::before {
        display: none;
      }
      .card {
        opacity: 1;
      }
    }
  }
}