/**
** Section Intro
**/
section#intro {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  .section {

    &__title {
      font-size: $h1;
    }

    &__content {
      text-align: center;

      &--quote-text {
        font-size: $p2;
        line-height: 1.6;
        padding:1rem;
      }

      &--quote-footer {
        font-weight: bolder;
      }
      
      
    }
  }

}