/**
** Section Turut Mengundang
**/
section#mengundang {

  .section {

    &__title {
      font-size: $h2;
    }

    &__content {
      text-align: center;
  
      &__item {
        padding-top: .7rem;
        padding-bottom: .7rem;

        &--nama {
          font-weight: $bold;
        }
        &--deskripsi {
          margin-top:0;
          font-size: $p3;
          color:darken($backgroundColor, 50)
        }
      }

    }

  }
}