.is {
  &__dev {
    &.no-scroll {
      overflow-y: auto!important;
    }
    #welcome {
      position: relative;
      height:auto;

      &::before {
        display: none;
      }
    }
    section#prokes {
      position: relative;
      &::before {
        display: none;
      }
    }
  }
}